/* colours
lightblue: #00cbd1
lighterblue: #d1fcff
lightcream: #ddd
prussianblue: #1d3557
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 16px;
}

header .wrapper {
    width: 100vw;
    margin: 0 auto;
}

header {
    height: 5vw;
    background-color: #1d3557;
    width: 100vw;
    z-index: 12;
    position: fixed;
    box-shadow: 0 0 20px #1d3557;
}

.logo {
    width: 50vw;
    float: left;
    line-height: 5vw;
}

.logo a {
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Signika', sans-serif;
    color: white;
    letter-spacing: 0.25vw;
}

nav {
    float: right;
    line-height: 5vw;
    padding-right: 2vw;
}

nav a {
    text-decoration: none;
    font-family: 'Signika', sans-serif;
    font-size: 1.5vw;
    padding: 0.5vw;
    color: white;
}

nav a:hover {
    color: #1d3557;
    background-color: #ddd;
    border-radius: 1vw;
}

.banner-area {
    width: 100vw;
    height: 20vw;
    position: fixed;
    top: 5vw;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: -20vw center;
}

.banner-area h2 {
    text-align: left;
    padding-left: 2vw;
    font-size: 4vw;
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    color: white;
    line-height: 20vw;
}

.content-area {
    width: 100vw;
    position: relative;
    top: 25vw;
    background: #ddd;
    height: 200vh;
    box-shadow: 0 0 20px #1d3557;
}

.main-wrapper {
    font-family: 'Signika', sans-serif;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0.75fr 1.5fr auto;
    gap: 10px;
    padding: 20px;
}

.main-wrapper section, .main-wrapper aside {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    background-color: #d1fcff;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 0px 8px 18px -6px rgba(29,53,87,0.7);
}

.main-content {
    grid-column: 1;
    grid-row: 1;
}

.current-research {
    grid-column: 1;
    grid-row: 2;
}

.research-projects ul li {
    list-style: none;
}

.research-projects ul li a {
    color: #1d3557;
    text-decoration: none;
}

.research-projects ul li a:hover {
    color: darkred;
    text-decoration: underline;
}

.sidebar {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.sidebar img {
    width: 60%;
    box-shadow: 0px 8px 18px -6px rgba(29,53,87,0.7);
    margin-bottom: 5px;
}

.ben-name a {
    font-weight: bolder;
    color: #1d3557;
    text-decoration: none;
}

.ben-name a:hover {
    color: darkred;
    text-decoration: underline;
}

.twitter-ben a {
    color: #1d3557;
    text-decoration: none;
}

.twitter-ben a:hover {
    color: darkred;
    text-decoration: underline;
}